name: Deploy to GitHub Releases

permissions:
  contents: write

on:
  push:
    branches:
      - master

jobs:
  deploy-to-github-releases:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Get Version from Project File
        id: get-version
        shell: bash
        run: echo "version=$(grep -oE '<AssemblyVersion>[^<]+' TaskyPad.csproj | sed 's/<AssemblyVersion>//')" >> $GITHUB_OUTPUT
      - name: Get Version from Github Tags
        id: get-github-version
        uses: actions/github-script@v6
        with:
          script: |
            const tags = await github.rest.repos.listTags({
              owner: context.repo.owner,
              repo: context.repo.repo,
              per_page: 100,
            });
            const versionTag = tags.data.find(tag => tag.name === `v${{ steps.get-version.outputs.version }}`);
            if (versionTag) {
              core.setOutput('exists', 'true');
            } else {
              core.setOutput('exists', 'false');
            }
      - name: Cancel Workflow Update
        if: steps.get-github-version.outputs.exists == 'true'
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.rest.actions.cancelWorkflowRun({
              owner: context.repo.owner,
              repo: context.repo.repo,
              run_id: context.runId
            })
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Publish Application
        run: dotnet publish TaskyPad.csproj -c Release -o publish -r win-x64 --self-contained true
      - name: Create Velopack Release
        run: |
          dotnet tool install -g vpk
          vpk download github --repoUrl https://github.com/${{ github.repository }} --token ${{ secrets.GITHUB_TOKEN }}
          vpk pack -u TaskyPad -v ${{ steps.get-version.outputs.version }} -p publish
          vpk upload github --repoUrl https://github.com/${{ github.repository }} --publish --releaseName "TaskyPad ${{ steps.get-version.outputs.version }}" --tag v${{ steps.get-version.outputs.version }} --token ${{ secrets.GITHUB_TOKEN }}